pandas
scikit-learn
tensorflow
matplotlib
keras
joblib
sqlalchemy
numpy
pyodbc
langchain
langchain-community
pypdf
langchain-openai
chromadb
openai
llama-index==0.11.0
streamlit
config
wikipedia
llama_index
ollama
transformers==4.38.2
bitsandbytes==0.42.0
accelerate== 0.27.2
torch