pandas
scikit-learn
tensorflow
matplotlib
keras
joblib
sqlalchemy
numpy
pyodbc
langchain
langchain-community
pypdf
langchain-openai
chromadb
openai
llama-index
streamlit
config
wikipedia
llama_index
ollama
transformers
bitsandbytes
accelerate
torch
poetry
vertexai
langchain
langchain-community
langchain-core
#langchain-google-community==1.0.8
#langchain-google-vertexai==1.0.6
google-api-python-client
py_expression_eval
cufflinks
crewai_tools
apiKey
fastapi
uvicorn
transformers
torch
pydantic
numpy
sentencepiece
protobuf
prometheus-client